:root {
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --teal: #1fb8b8;
  --ruby: #950e45;
}

:root[data-theme="dark"] {
  --background: #1f1f1f;
  --text: #f1f1f1;
}

:root[data-theme="light"] {
  --background: #f1f1f1;
  --text: #1f1f1f;
}

:root[data-theme="light"] div {
  background-color: #fee569;
}

:root[data-theme="light"] button {
  color: var(--ruby);
}

:root[data-theme="light"] button:hover {
  color: var(--background);
}

html,
body,
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: none;

  font-size: 1.5rem;
  text-transform: none;
  text-decoration: none;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;

  background-color: var(--background);
  color: var(--text);
}

div {
  display: grid;
  grid-template: repeat(3, min-content) / repeat(2, 25rem);
  grid-template-areas:
    "input input"
    "submit theme"
    "city temp"
    "icon icon"
    "description description";
  gap: 2rem;

  padding: 5rem;
  border: 2px solid var(--ruby);
  border-radius: 1rem;

  text-align: center;
}

input,
button {
  height: 5rem;
  border-radius: 1rem;
}

input {
  grid-area: input;
  padding-inline: 2rem;
}

button {
  grid-area: submit;
  border: 2px solid var(--teal);

  background-color: var(--background);
  color: var(--teal);

  cursor: pointer;
  transition: transform 0.15s ease-in-out, border-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}

button:hover,
button:focus {
  background-color: var(--text);
  color: var(--background);
  border-color: var(--text);

  transform: scale(1.05);
}

h1 {
  grid-area: city;
}

p {
  grid-area: temp;
}

p:nth-of-type(2) {
  grid-area: description;
  text-transform: capitalize;
}

img {
  grid-area: icon;
  justify-self: center;
  margin: -3rem;
  height: 10rem;
}

.theme-button {
  grid-area: theme;
}

@media (max-width: 670px) {
  div {
    grid-template: repeat(3, min-content) / 1fr;
    grid-template-areas:
      "input"
      "submit"
      "theme"
      "city"
      "temp"
      "icon"
      "description";
    margin: 1rem;
  }
}
